.container {
  margin: 0;
}
.sub-container {
  background-color: aqua;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 2rem;
  height: 550px;
}

/* navigation starting here */
.container .sub-container header .navbar {
  margin: 1rem 2rem;
  /* background-color: aqua;
  padding: 1rem;
  border-radius: 10px; */

}

.container .sub-container header .navbar ul {
  padding-inline-start: 0;
  display: flex;
}

.container .sub-container header .navbar ul li {
  list-style-type: none;
  
}

.container .sub-container header .navbar ul #git-repo {
  position: absolute;
  right: 100px;
}

/* main heading section starting here */
.container .sub-container .main-heading {
  margin: 8rem 0 0 0;
}

.container .sub-container .main-heading #heading {
  width: 600px;
}
.container .sub-container .main-heading #heading span {
  color:#ffff;
  font-weight: bold;
  width: 300px;
  height: 200px;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  from {color: rgb(153, 0, 255);}
  to {color: rgb(201, 184, 33);}
}
.container .sub-container .main-heading #heading h1 {
  font-size: 3rem;
  margin-block-end: 0;
}
.container .sub-container .main-heading #para {
  margin: 0;
}
.container .sub-container .main-heading #para p{
  margin-block-start: 0;
  font-size: 1.4rem;
}
.container .sub-container .main-heading #para p span {
  color: #a134ce;
  font-weight: bold;
}

.container .sub-container .main-heading #btn-check button {
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: 2px solid black;
  font-weight: bolder;
}
.container .sub-container .main-heading #btn-check button a {
  text-decoration:none;
  color:black;
}
.container .sub-container .main-heading #img-heading{
  position: absolute;
  right: 10px;
  top: 117px;
}

/* form section started here  */
.container .form-section {
  margin: 16rem 0 0 0;
  background-color:#fff;
} 

.container .form-section .form-header {
  width: 600px;
  margin: 1rem 27rem;
}

.container .form-section .form-header h2 {
  font-size: 3rem;
  text-align: center;
  color:#440480;
}
.container .form-section .form-header p {
  font-size:1.3rem;
  text-align: center;
  color:black;
}

.container .form-section .form-header .input-field {
  margin: 3rem 12rem;
}
.container .form-section .form-header .input-field input {
  border: 3px solid #652aa5;
  padding: 1rem 2rem;
  border-radius: 31px
}
.container .form-section .form-header .input-field input:focus-within{
  outline: none;
}
.container .form-section .form-header .btn-field {
  margin: 1rem 241px;
  
}

.container .form-section .form-header .btn-field button {
  padding: 10px 30px;
  border: 2px solid #652aa5;
  border-radius: 20px;
  color: #652aa5;
  font-weight: bold;
  background-color: #ffff;
}
.container .form-section .form-header .btn-field button:hover{
  background-color:#652aa5;
  color:#fff;
}

/* starting footer here */
.container #footer-section {
  background-color: aqua;
  padding: 1rem;
  border-radius: 10px;
  margin: 5rem -1rem;
}
/* footer started here */
.container #footer-section  .footer {
  margin: 0 0 0 0;
  position: relative;
  top: 0px;
}

.container #footer-section  .footer .footer-list {
  display: flex;
  margin: 0 30rem;
}

.container #footer-section  .footer .footer-list .list-item {
  list-style-type: none;
}

.container #footer-section  .footer .footer-list .list-item a i {
  margin: 0 2rem;
  font-size: 2rem;
  color:#652aa5;
}

.container #footer-section  .footer .footer-list .list-item a i:hover{
  color:#fff;
}

/* Copyright starting here */
.container .copyright {
  margin: 0 482px;
  position: relative;
  left: 5rem;
}

.container .copyright ul {
  padding-inline-start: 0;
  display: flex;
}

.container .copyright ul li {
  margin: 0 1rem;
  list-style-type: none;
}


/* mobile responsive starting here */
@media (max-Width:768px) {
  .container {
    margin: 0 -19px;
  }
  .container .sub-container {
    width: 600px;
  }
  .container .sub-container header .navbar ul #git-repo {
    position: absolute;
    right: -250px;
  }
  .container .sub-container .main-heading {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  /* justify-content: center; */
  }
  .container .sub-container header .navbar ul li {
    list-style-type: none;
    font-size: 1rem;
  }
  .container .sub-container .main-heading {
    margin: 2rem 0 0 0;
  }
  .container .sub-container .main-heading #heading {
    width: 400px;
    text-align: center;
  }
  .container .sub-container .main-heading #heading h1 {
    font-size: 2rem;
    
  }
  .container .sub-container .main-heading #para {
    margin: 0 6rem;
  }
  .container .sub-container .main-heading #para p {
    margin-block-start: 0;
    font-size: 1rem;
    text-align: center;
  }
  .container .sub-container .main-heading #btn-check button {
    font-size: 1rem;
  }
  .container .sub-container .main-heading #img-heading {
    position: absolute;
    /* right: 35px; */
    left: 9px;
    top: 400px;
  }
  .container .sub-container .main-heading #img-heading img {
    width: 636px;
    height: 100%;
  }
  .container .form-section {
    margin: 62rem 0 0 0;
  }
  .container .form-section .form-header {
    width: 500px;
    margin: 1rem 2rem;
  }
  .container .form-section .form-header h2 {
    font-size: 2rem;
  }
  .container .form-section .form-header p {
    font-size: 1.3rem;
    text-align: center;
  }
  .container .form-section .form-header .input-field {
    margin: 3rem 8rem;
  }
  .container .form-section .form-header .btn-field {
    margin: 1rem 171px;
  } 


  .container .form-section .form-header .btn-field button {
    font-size:1rem;
  }
  .container #footer-section {
    margin: 4rem -2rem;
  }
  .container #footer-section .footer .footer-list {
    display: flex;
    margin: 0px 3rem;
  }
  .container .copyright {
    margin: 0 58px;
    position: relative;
    left: 5rem;
}
}


